
@font-face {
    font-family: BlackOpsOne-Regular;
    src: url(./fonts/BlackOpsOne-Regular.ttf);
}


@font-face {
    font-family: ElMessiri-Medium;
    src: url(./fonts/ElMessiri-Medium.ttf);
}


@font-face {
    font-family: Logo;
    src: url(./fonts/Rye-Regular.ttf);
}